.navbar {
  &-logo {
    .make-xs-column(4, 0);
    margin-top: 20px;
  }

  &-right-block {
    .make-xs-column(12, 0);
    .make-sm-column(8, 0);
  }

  &-search {
    .make-xs-column(5, 0);
    .make-xs-column-offset(7);
    padding-top: 20px;
    padding-bottom: 10px;
  }

  &-menu {
    .make-xs-column(12, 0);
    padding-bottom: 7px;

    .nav {
      .make-xs-column(12, 0);
      text-align: right;

      > li {
        cursor: pointer;
        float: none;
        display: inline-block;
        padding: 0 10px;

        @media (min-width: @screen-sm-min) {
          padding: 0;
        }

        a {
          color: @color-darkgray;
          display: inline-block;
          padding-bottom: 3px;
          background: none;
        }

        &:hover, &.active {
          a {
            border-bottom: 1px solid @brand-danger;
          }
        }
      }
    }
  }
}

.top-side {
  border-bottom: 1px solid @color-gray;
}

@media (max-width: @screen-xs-min) {
  .top-side {
    .container {
      padding: 0;
    }

    .navbar-collapse {
      padding: 0;
    }

    .navbar-logo {
      padding-left: 15px;
      margin: 10px 0;
    }

    .icon-collapse {
      button {
        margin-right: 0;
      }

      .fa {
        font-size: 24px;
      }
    }

    .navbar-menu {
      li {
        display: block;
        text-align: center;

        &.active {
          a {
            border: 0;
            background: @brand-danger;
            color: white;
          }
        }

        a {
          display: block;
        }
      }
    }

    .navbar-nav {
      margin: 0;
    }
  }
}