.home-side {
  .home-carousel {
    min-height: 350px;
    background: @home-carousel center center;

    .carousel {
      &-inner {
        height: 350px;
      }

      &-control {
        background: none;

        .fa {
          position: absolute;
          top: 50%;
          right: 50%;
          margin-top: -35px;
          font-size: 70px;
        }
      }

      .item {
        height: 100%;
      }

      .pic {
        display: block;
        height: 100%;
        background: no-repeat top center;
        background-size:  auto 100%;
      }

      .block-01 {
        background-image: @carousel-block-01;
      }

      .block-02 {
        background-image: @carousel-block-02;
      }

      .block-03 {
        background-image: @carousel-block-03;
      }

      .block-04 {
        background-image: @carousel-block-04;
      }
    }
  }
}

.why-wincos {
  .section;

  .left {
    .make-sm-column(6, 0);
    .make-sm-column-offset(1);

    p {
      padding-top: 10px;
      color: @color-darkgray;
      font-size: 13px;
    }
  }

  .right {
    .make-sm-column(5, 0);

    img {
      max-height: 170px;
    }
  }
}

.section {
  .make-xs-column(12, 0);
  padding-top: 30px;
  padding-bottom: 70px;
}

.wincos-title {
  .make-xs-column(12, 0);
  display: block;

  &-text {
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0 10px 20px;
    border-left: 3px solid @brand-info;
  }
}