<div class="container architectural main-side" ng-controller="ArchitecturalController" ng-init="event.onLoad()">
    <div class="wincos-breadcrumb">
        <ul class="list-inline">
            <li><i class="fa fa-home"></i></li>
            <li><i class="fa fa-angle-right"></i></li>
            <li>Phim Dán Kiến Trúc</li>
        </ul>
    </div>
    <div class="architectural-body section">
        <div class="left">
            <div class="wincos-title">
                <span class="wincos-title-text" ng-click="event.updateSelected()">PHIM DÁN KIẾN TRÚC</span>
            </div>
            <div class="list-tab">
                <ul class="nav nav-pills nav-stacked">
                    <li ng-class="{'active': data.selected === 'one'}"><a ng-click="event.updateSelected('one')" href="javascript:void(0);">An Toàn & An Ninh</a></li>
                    <li ng-class="{'active': data.selected === 'two'}"><a ng-click="event.updateSelected('two')" href="javascript:void(0);">Kiểm Soát Ánh Nắng</a></li>
                    <li ng-class="{'active': data.selected === 'three'}"><a ng-click="event.updateSelected('three')" href="javascript:void(0);">Chống Côn Trùng</a></li>
                    <li ng-class="{'active': data.selected === 'four'}"><a ng-click="event.updateSelected('four')" href="javascript:void(0);">Chống Phản Chiếu – Chói</a></li>
                </ul>
            </div>
        </div>
        <div class="right">
            <div ng-include="'templates/partial-architectural-default.html'" ng-if="!data.selected"></div>
            <div ng-include="'templates/partial-architectural-safe-security.html'" ng-if="data.selected === 'one'"></div>
            <div ng-include="'templates/partial-architectural-solar-control.html'" ng-if="data.selected === 'two'"></div>
            <div ng-include="'templates/partial-architectural-insect-repellent.html'" ng-if="data.selected === 'three'"></div>
            <div ng-include="'templates/partial-architectural-anti-reflection.html'" ng-if="data.selected === 'four'"></div>
        </div>
    </div>
</div>