<footer class="container-fluid padding-none footer-side">
    <div class="container footer-body">
        <div class="copyright">Copyright &copy; 2015.</div>
        <div class="right">
            <ul class="list-inline">
                <li><a href="#/">Trang chủ</a></li>
                <li><a href="#/why-wincos">Lý Do Chọn Wincos</a></li>
                <li><a href="javascript:void(0);">Phim Dán Kiến Trúc</a></li>
                <li><a href="javascript:void(0);">Liên hệ</a></li>
            </ul>
            <div class="pull-right"><img src="assets/images/logo-small-trans.png" alt=""/></div>
        </div>
    </div>
</footer>