<div class="container-fluid top-side padding-none">
    <div class="container">
        <div class="navbar-logo">
            <a href="#/"><img src="assets/images/logo.jpg"/></a>
        </div>
        <div class="navbar-right-block">
            <div class="navbar-search">
                <div class="input-group input-group-sm">
                    <input class="form-control" type="text" placeholder="Tìm kiếm"/>
            <span class="input-group-btn">
                <button class="btn btn-info"><i class="fa fa-search"></i></button>
            </span>
                </div>
            </div>
            <div class="navbar-menu">
                <ul class="nav navbar-nav">
                    <li class="active"><span>Trang chủ</span></li>
                    <li><span>Lý Do Chọn Wincos</span></li>
                    <li><span>Phim Dán Kiến Trúc</span></li>
                    <li><span>Liên hệ</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>