<div class="container-fluid home-side padding-none" ng-controller="HomeController" ng-init="event.onLoad()">
    <div class="container-fluid home-carousel padding-none">
        <div class="container">
            <div class="carousel slide" id="home-carousel" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#home-carousel" data-slide-to="1"></li>
                    <li data-target="#home-carousel" data-slide-to="2"></li>
                    <li data-target="#home-carousel" data-slide-to="3"></li>
                </ol>

                <div class="carousel-inner">
                    <div class="item active"><div class="pic block-01"></div></div>
                    <div class="item"><div class="pic block-02"></div></div>
                    <div class="item"><div class="pic block-03"></div></div>
                    <div class="item"><div class="pic block-04"></div></div>
                </div>

                <a class="left carousel-control" href="#home-carousel" data-slide="prev">
                    <span class="fa fa-angle-left" aria-hidden="true"></span>
                </a>
                <a class="right carousel-control" href="#home-carousel" data-slide="next">
                    <span class="fa fa-angle-right" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="why-wincos section">
            <div class="wincos-title">
                <span class="wincos-title-text">LÝ DO CHỌN WINCOS</span>
            </div>
            <div class="left">
                <img src="assets/images/logo.jpg" height="50"/>
                <p>
                    Wincos là nhà sản xuất hàng đầu Nhật Bản trong lĩnh vực sản xuất vật liệu kết dính. Chúng tôi là những người đầu tiên trong ngành công nghiệp đầy áp lực nhạy cảm với việc đổi mới trong việc sử dụng công nghệ bức xạ hồng ngoại  hop him cách nhiệt ô tô ...
                </p>
                <div>
                    <a href="#/" class="btn btn-sm btn-info">Chi tiết <span class="fa fa-angle-right"></span></a>
                </div>
            </div>
            <div class="right">
                <img src="assets/images/pic-01.jpg" class="img-responsive"/>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="home-product section">
            <div class="wincos-title">
                <span class="wincos-title-text">SẢN PHẨM</span>
            </div>
            <div class="home-product-body">
                <div class="home-product-box">
                    <div class="pic"><img src="assets/images/pic-02.jpg"/></div>
                    <h3>Phim Dán Kiến Trúc</h3>
                    <div class="description">
                        <p>
                            Đa dạng sản phẩm Phim Dán Kiến Trúc được thiết kế thêm vào các tính năng ưu việt khi dán cho kính.
                        </p>
                        <p>
                            Ví dụ như sản phẩm có thể cung cấp khả năng chống vỡ bằng cách ngăn chặn các mãnh vỡ thủy tinh bắn ra khi kính bị vỡ, cải thiện an ninh, làm giảm độ chói cho tòa nhà, tiết kiệm năng lượng bằng cách giảm sự xâm nhập của bức xạ mặt trời, cân bằng “điểm nóng” và hoạt động như thuốc chống côn trùng
                        </p>
                    </div>
                </div>
                <div class="home-product-box">
                    <div class="pic"><img src="assets/images/pic-03.jpg"/></div>
                    <h3>Phim Dán Trang Trí</h3>
                    <div class="description">
                        <p>
                            Phạm vi áp dụng của các thiết kế và kết cấu hoa văn trong nhóm sản phẩm này là sự riêng tư và nâng cao hình ảnh của không gian nội thất. Từ một hiệu ứng sương mù nhẹ nhàng cho đến trắng mờ đục toàn bộ hoặc ảnh hưởng truyền thống của Nhật Bản như bánh tráng, tính khuếch tán ánh sang và tính lọc ánh sang khác nhau tùy theo thiết kế.
                        </p>
                        <p>
                            Các loại phim dán này phù hợp cho các bề mặt kinh trong văn phòng, khách sạn, nhà hàng, các điểm bán lẻ và nhà cửa.
                        </p>
                    </div>
                </div>
                <div class="home-product-box">
                    <div class="pic"><img src="assets/images/pic-04.jpg"/></div>
                    <h3>Phim Dán Ô Tô</h3>
                    <div class="description">
                        <p>
                            Phim Dán Ô Tô cao cấp Wincos mang đến hiệu suất cách nhiệt cao cho người sử dụng ô tô và thân thiện với môi trường.
                        </p>
                        <p>
                            Phạm vi cung cấp một loạt các màu sắc và phong cách, thiết kế kết hợp sang trọng và nâng cao tính thẩm mỹ của xe, bảo đảm sự riêng tư và làm giảm nhiệt độ cabin bảo vệ nội thất. Việc thực hiện cách nhiệt, với sự hỗ trợ từ công nghệ tiên tiến và kho dữ liệu rộng lớn, đã đáp ứng được nhu cầu nhận thức tiết kiệm năng lượng và bảo vệ hệ sinh thái.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>