<div class="architectural-content">
    <h4 class="red"><strong>Chống Côn Trùng</strong></h4>
    <p class="text-center">
        <img src="assets/images/partial3-1.jpg" class="img-responsive">
    </p>
    <p>Trong lĩnh vực sản xuất, các biện pháp để xua đuổi côn trùng là một yêu cầu của kiểm soát chất lượng, vệ sinh theo tiêu chuẩn ISO 9000s và hệ thống HACCP.</p>
    <p>Các phiên bản phim dán chống côn trùng của “phim dán kiến trúc Wincos” giúp ngăn chặn côn trùng bị hấp dẫn bởi ánh sang phát ra từ nơi làm việc, do đó góp phần đáng kể giảm số lượng côn trùng xung quanh chu vi tòa nhà</p>
    <p>&nbsp;</p>
    <h5 class="red"><strong>Cơ Chế Hoạt Động Của Phim Chống Côn Trùng</strong></h5>
    <p>Phim dán chống côn trùng được thiết kế để khai thác thực tế sự khác biệt về sự nhạy cảm với các bước sóng của ánh sáng giữa con người và côn trùng. Phim dán ngăn cản và kiểm soát ánh sáng trong dải bước sóng cụ thể của côn trùng. Điều này giúp ngăn cản sự hấp dẫn côn trùng mà không có bất kỳ tác dụng trên con người.</p>
    <p class="text-center"><img src="assets/images/partial3-2.jpg" class="img-responsive"/></p>
    <p class="text-center"><img src="assets/images/partial3-3.jpg" class="img-responsive"/></p>
    <p>Khi sử dụng các sản phẩm phim dán kính chống côn trùng thì tỷ lệ thu hút côn trùng được giảm xuống 80%; các thiệt hại liên quan đến côn trùng và nhiễm bệnh được giảm thiểu hoặc loại bỏ. Không có các chất độc hại được sử dụng trong quá trình sản xuất, nên không có nguy cơ ảnh hưởng đến sức khỏe con người và môi trường tự nhiên khi sử dụng. Các lợi ích khác như chặn tia cực tím UV, cách nhiệt và tiết kiệm năng lượng cũng được bao gồm trong đặc điểm kỹ thuật của phim dán. Các dự án sử dụng phim hiện nay bao gồm các bệnh viện, các cơ sở chế biến thực phẩm, sản xuất dược phẩm và các cửa hàng bán lẻ.</p>
    <p>&nbsp;</p>
    <h5 class="red"><strong>Hình ảnh trực quan của ánh sang khi sử dụng phim dán OPTRON (phim trong suốt chống côn trùng).</strong></h5>
    <div class="row margin-none">
        <div class="col-xs-6 text-center">
            <div class="pic text-center"><img src="assets/images/partial3-4.jpg"/></div>
            <p><i class="red">Hình ảnh thấy được từ mắt con người</i></p>
        </div>
        <div class="col-xs-6 text-center">
            <div class="pic"><img src="assets/images/partial3-5.jpg"/></div>
            <p><i class="red">Hình ảnh nhìn thấy được từ côn trùng</i></p>
        </div>
    </div>
    <div class="clearfix"></div>
    <p>&nbsp;</p>
    <h5 class="red"><strong>Các dự án sử dụng.</strong></h5>
    <p>Phim được sử dụng cho các dự án, môi trường kiểm soát vệ sinh là cần thiết. Các dự án bao gồm cơ sở chế biến thực phẩm, nhà hàng, sản xuất thiết bị chăm sóc sức khỏe, khu dân cư, và các bệnh viện.</p>
</div>