<div class="architectural-content">
    <h4 class="red"><strong>Phim Dán Kiến Trúc</strong></h4>
    <p class="text-center">
        <img src="assets/images/pic-11.jpg" class="img-responsive">
    </p>
    <p>Mối quan tâm ngày càng tang về các thảm họa tự nhiên và nhân tạo đã thấy rõ tầm quan trọng của kính là tính năng an toàn và an ninh. Nếu kính vỡ tan trong khi thời tiết bão tố hay trong động đất thì thảm họa thứ cấp thường xảy ra từ các mảnh kính vỡ văng ra khắp nơi.</p>
    <p>Phim dán kính Wincos sẽ giảm thấp nhất nguy cơ tổn thương đến cá nhân và tài sản do các mảnh kính vỡ gây ra trong suốt trận động đất hoặc thảm họa khác, do đó góp phần rất lớn đến sự an toàn tổng thể của tòa nhà.</p>
    <p>&nbsp;</p>
    <h5 class="red text-underline"><strong>Các Biện Pháp Chống Vỡ Kính</strong></h5>
    <p>Các tính năng vượt trội của Phim Dán Kính Kiến Trúc Wincos có khả năng ngăn ngừa sự phân tán các mảnh kính vỡ được thể hiện qua một loạt thử nghiệm bao gồm thử nghiệm biến dạng, tác động mạnh và cháy nổ …vv. Những bài kiểm tra chứng minh khả năng chống vỡ kính khi sử dụng phim dán Wincos.</p>
    <p><strong>Thử nghiệm 1: <span class="red text-uppercase">Biến Dạng</span></strong></p>
    <p><span class="text-underline">Phương Pháp Thử:</span> một quan sát thực nghiệm sự dịch chuyển của khung cửa. Các thử nghiệm trận động đất mô phỏng sử dụng một “cửa sổ cố định” để quan sát xem các mẫu thử kính vỡ có bị phân tán hay không sau khi bị vỡ. Thí nghiệm này được thực hiện bởi Viện Nghiên Cứu Xây Dựng thuộc thẩm quyền của Bộ Đất Đai, Hạ Tầng, Giao Thông và Du Lịch Nhật Bản như là một chứng thực.</p>
    <p><span class="text-underline">Kết Quả:</span> trong trường hợp của kính thông thường, những mảnh vỡ sắc nhọn nằm rải rác văng xa 15m. Trong trường hợp sử dụng phim dán kính Wincos 1501UH, các vết nứt không sắc nhọn và một số bột thủy tinh được rải rác nhưng không có sự rơi rớt của các mảnh kính vỡ là tối thiểu.</p>
    <div class="row margin-none">
        <div class="col-xs-6 text-center">
            <div class="pic text-center"><img src="assets/images/pic-12.jpg"/></div>
            <p><i class="red">Kính Thường</i></p>
        </div>
        <div class="col-xs-6 text-center">
            <div class="pic"><img src="assets/images/pic-13.jpg"/></div>
            <p><i class="red">Kính Dán Phim Wincos 1501UH</i></p>
        </div>
    </div>
    <div class="clearfix"></div>
    <p>&nbsp;</p>
    <p><strong>Thử nghiệm 2: <span class="red text-uppercase">Va Chạm</span></strong></p>
    <p><span class="text-underline">Phương Pháp Thử:</span> một bài kiểm tra vết nứt xung quanh theo tiêu chuẩn ANSI (tiêu chuẩn Hoa Kỳ cho kính an toàn), tiến hành tại Khoa Thiết Kế Công Nghiệp, khoa Kỹ Thuật, Đại học Chiba.</p>
    <p><span class="text-underline">Kết Quả:</span> trong trường hợp kính thường, các mẫu thử đã bị phá vỡ tại điểm va chạm, phân tán những mảnh sắc nhọn. Trong trường hợp kính dán phim Wincos LumiCool 1501UH, các mãnh vỡ tại những điểm va chạm không bị văng ra. </p>
    <div class="row margin-none">
        <div class="col-xs-6 text-center">
            <div class="pic text-center"><img src="assets/images/pic-14.jpg"/></div>
            <p><i class="red">Kính Thường</i></p>
        </div>
        <div class="col-xs-6 text-center">
            <div class="pic"><img src="assets/images/pic-15.jpg"/></div>
            <p><i class="red">Kính Dán Phim Wincos 1501UH</i></p>
        </div>
    </div>
    <div class="clearfix"></div>
    <p>&nbsp;</p>
    <p><strong>Thử nghiệm 3: <span class="red text-uppercase">Cháy Nổ</span></strong></p>
    <p><span class="text-underline">Phương Pháp Thử:</span> một sự quan sát thực nghiệm về sự phát tán của mảnh vỡ kính thường gây ra từ một vụ nổ được tiến hành tại Phòng Thí Nghiệm Hóa Học Quốc Gia Cho Công Nghiệp, Cơ Quan Khoa Học Công Nghiệm và Công Nghệ, Bộ Thương Mại và Công Nghiệp (nay là Viện Kỹ Thuật Khoa Học và Công Nghệ Tiên Tiến Quốc Gia) </p>
    <p><span class="text-underline">Kết Quả:</span> sự văng ra của mảnh kính vỡ từ thử nghiệm miếng kính thường kích thước 60cm x 60cm được gây ra bởi một vụ nổ cách xa 1.2m được đem đi kiểm tra.</p>
    <p>Loại kính thường dày 6mm bị bể hoàn toàn ở áp suất nổ khoảng 1.5kg/cm2, diện tích tán xạ kéo dài đến hơn 60%.</p>
    <p>Loại kính có sử dụng phim dán kính Wincos 1501UH vẫn chống va đập lại áp lực vụ nổ lên đến khoảng 4.2kg/cm2, so sánh với kính dày 6.8mm.</p>
    <div class="row margin-none">
        <div class="col-xs-6 text-center">
            <div class="pic text-center"><img src="assets/images/pic-16.jpg"/></div>
            <p><i class="red">Kính Thường <br>(300g thuốc nổ)</i></p>
        </div>
        <div class="col-xs-6 text-center">
            <div class="pic"><img src="assets/images/pic-17.jpg"/></div>
            <p><i class="red">Kính Dán Phim Wincos 1501UH<br>(400g thuốc nổ)</i></p>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="pre pre-success">Thành tích quý giá nhất của chúng tôi đạt được là sự tích lũy kinh nghiệm trong suốt hơn 20 năm, đã tăng cao độ tin cậy cho các sản phẩm của chúng tôi.</div>
    <p>Việc xây dựng trên sự ảnh hưởng của trận động đất Miyagi năm 1978, những nổ lực của Lintec đã được tập trung vào việc thiết lập khả năng chống vỡ của phim dán kính. Chúng tôi đã nổ lực liên tục để theo đuổi sự tiến bộ của tính an toàn cho toàn bộ sản phẩm phim dán. Ví dụ, Lintec đã tiến hành các thí nghiệm sự dịch chuyển để kiểm tra sự văng xa của các mảnh kính vỡ do “bóp méo” mà có thể xảy ra thực tế trong một trận động đất. Đây là thử nghiệm đầu tiên của loại hình này tại Nhật Bản, và đã trở thành một phần trong tiêu chuẩn JIS thông qua sự tổng hợp các đánh giá thực nghiệm định lượng. Những nổ lực lâu dài trong nhiều năm đã nâng cao độ tin cậy của sản phẩm chúng tôi.</p>
    <p>&nbsp;</p>
    <h5 class="red text-underline"><strong>Các Biện Pháp Chống Tội Phạm</strong></h5>
    <p>Trong những năm gần đây các tội trộm cắp tài sản trong nhà đã phát triển và các thủ thuật đột nhập ngày càng tinh vi, nguy hiểm và đa dạng.</p>
    <p>Khi sử dụng sản phẩm phim cách nhiệt trong suốt 1561UH cho cửa sổ, loại phim thích hợp nhất để phòng chống tội phạm, được dán cho toàn bộ mặt kính sẽ làm chậm đáng kể sự phá vỡ và xâm nhập qua cửa kính. Do đó đã đóng góp đáng kể cho công tác phòng chống trộm đột nhập nhà.</p>
    <div class="row margin-none">
        <div class="col-xs-6 text-center">
            <div class="pic text-center"><img src="assets/images/pic-18.jpg"/></div>
            <p><i class="red">Website Sở cảnh sát Metropolitan</i></p>
        </div>
        <div class="col-xs-6 text-center">
            <div class="pic"><img src="assets/images/pic-19.jpg"/></div>
            <p><i class="red">Viện Nghiên Cứu An Ninh Đô Thị Nhật Bản<br>(báo cáo JUSRI)</i></p>
        </div>
    </div>
    <div class="clearfix"></div>
    <p>Phim dán kính 1561Uh có cấu trúc 3 lớp (độ dày của tấm phim 395 μm và tổng độ dày 425 μm), trong đó các lớp phủ và cán công nghệ độc đáo của chúng tôi cho phép áp dụng lên các tấm phim trong suốt PET. Độ trong suốt của tấm phim được so sánh với phim thông thường chống vỡ kính (phim chỉ dày 50 μm và tổng độ dày 80 μm) và độ dẻo kéo dài của tấm phim cao hơn 6 lần so với tấm phim thông thường.</p>
    <p>&nbsp;</p>
    <p><strong>Thử nghiệm 1: <span class="red text-uppercase">thử nghiệm các vết nứt do bị cạy phá (đánh giá từ phía trong nhà).</span></strong></p>
    <p><span class="text-underline">Phương Pháp Thử:</span> đo lường thời gian để cạy phá thành công cửa kính đã dán phim Wincos.</p>
    <p>Dụng cụ sử dụng: tua vít và kềm.</p>
    <p><span class="text-underline">Kết Quả:</span> mất hơn 5 phút mới có thể thành công phá vỡ cửa kính và đột nhập</p>
    <p class="text-center"><img src="assets/images/pic-20.jpg"></p>
    <p>&nbsp;</p>
    <p><strong>Thử nghiệm 2: <span class="red text-uppercase">nhiều thử nghiệm thả vật nặng để phá vỡ kính</span></strong></p>
    <p><span class="text-underline">Phương Pháp Thử:</span> phù hợp với các tiêu chuẩn EN356.</p>
    <p>Quả bóng thép: đường kính 100mm, trọng lượng 4.11kg.</p>
    <p>Phương pháp thả các quả bóng thép: các quả bóng thép được thả xung quanh điểm chính giữa, với mỗi điểm tạo thành đỉnh của tam giác đều với chiều dài mỗi cạnh 130mm.</p>
    <p>Kích thước mẫu thử: 900mm x 1100mm.</p>
    <p><span class="text-underline">Kết Quả:</span> quả bóng thép không xuyên qua được tấm kính được quan sát thấy thông qua 3 lần thả từ độ cao 1,500mm và 3,000mm</p>
    <p class="text-center"><img src="assets/images/pic-21.jpg"></p>
    <p>&nbsp;</p>
    <h5 class="red text-underline"><strong>Cấu Tạo Tấm Phim Dán</strong></h5>
    <p class="text-center"><img src="assets/images/pic-22.jpg"></p>
</div>