<div class="architectural-content">
    <h4 class="red"><strong>Phim Dán Kiến Trúc</strong></h4>
    <p class="gray"><i>Tăng Sự Thoải Mái và Hiệu Quả Năng Lượng</i></p>
    <p>
        <img src="assets/images/pic-06.jpg" class="img-responsive"/>
    </p>
    <div class="row margin-none">
        <div class="col-sm-3 col-xs-4">
            <div class="pic"><img src="assets/images/pic-07.jpg"/></div>
            <h5 class="red text-center"><strong><i>An Toàn & An Ninh</i></strong></h5>
        </div>
        <div class="col-sm-3 col-xs-4">
            <div class="pic"><img src="assets/images/pic-08.jpg"/></div>
            <h5 class="red text-center"><strong><i>Kiểm Soát Ánh Nắng</i></strong></h5>
        </div>
        <div class="col-sm-3 col-xs-4">
            <div class="pic"><img src="assets/images/pic-09.jpg"/></div>
            <h5 class="red text-center"><strong><i>Chống Côn Trùng</i></strong></h5>
        </div>
        <div class="col-sm-3 col-xs-4">
            <div class="pic"><img src="assets/images/pic-10.jpg"/></div>
            <h5 class="red text-center"><strong><i>Chống Phản Quang</i></strong></h5>
        </div>
    </div>
</div>