<div class="architectural-content">
    <h4 class="darkblue"><strong>Phim Dán Kiến Trúc</strong></h4>
    <p class="text-center">
        <img src="assets/images/partial2-1.jpg" class="img-responsive">
    </p>
    <div class="pre pre-success">Giúp giảm sử dụng điều hòa trong các tòa cao ốc. Hoạt động kiểm soát cao ánh nắng đạt được mức tiết kiệm điện năng đáng kể cho các tòa nhà!</div>
    <p>Các sản phẩm làm giảm lượng khí thải carbon góp phần làm giảm sự nóng lên toàn cầu. Khả năng tiết kiệm năng lượng đáng kể cho các nhà máy, văn phòng, và nhà cửa, rất có ích tích cực trên thế giới.</p>
    <p>Phạm vi kiểm soát ánh nắng mặt trời từ các tấm phim trong suốt “Phim Dán Kiến Trúc Wincos” duy trì độ truyền ánh sáng có thể nhìn thấy cao đồng thời loại bỏ nhiệt độ rất tốt.</p>
    <p>&nbsp;</p>
    <h5 class="darkblue text-underline"><strong>Tính Năng</strong></h5>
    <div class="pre pre-success">Hiệu quả tiết kiệm năng lượng của kính với tấm phim dán ZC05G.</div>
    <p>Phim dán ZC05G + Kính thường 3mm</p>
    <div class="row margin-none">
        <div class="col-xs-6 text-center">
            <div class="pic text-center"><img src="assets/images/partial2-2.jpg"/></div>
            <p>Những tấm kính với phim dán Wincos chặn nhiệt bức xạ mặt trời, ngăn chặn nhiệt độ phòng tăng lên và giảm sự phụ thuộc vào máy lạnh và chi tiêu liên quan</p>
        </div>
        <div class="col-xs-6 text-center">
            <div class="pic"><img src="assets/images/partial2-3.jpg"/></div>
            <p>Những tấm kính với phim dán Wincos giữ lại nhiệt độ hơi ấm trong phòng, vì thế nhiệt độ trong phòng được giữ nguyên và giảm chi phí sử dụng máy sưởi</p>
        </div>
    </div>
    <div class="clearfix"></div>
    <p class="darkblue"><strong>Sự tăng lên của nhiệt độ trong phòng.</strong></p>
    <p>Khi sử dụng tấm phim kiểm soát ánh nắng mặt trời trên kính sẽ ngăn chặn hơi nóng tạo ra mạnh từ ánh nắng mặt trời trong suốt cả ngày, giảm đáng kể sự tăng lên của nhiệt độ trong phòng.</p>
    <div class="row margin-none">
        <div class="col-xs-6 padding-none">
            <p>
                <strong>Điều kiện đo lường</strong><br>
                Ngày đo lường: 12/8 (thời tiết tốt).<br>
                Địa điểm đo lường: Tp. Kawasaki, Nhật.<br>
                Nhiệt độ cao nhất: 33.1oC.<br>
                Nhiệt độ thấp nhất: 25.4oC.<br>
            </p>
            <p>
                <strong>Phương pháp đo lường</strong><br>
                Lịch sử nhiệt độ lưu lại so sánh 2 trường hợp: sử dụng phim dán Wincos và không sử dụng phim dán.
            </p>
        </div>
        <div class="col-xs-6"><img src="assets/images/partial2-4.jpg" class="img-responsive"></div>
    </div>
    <p>&nbsp;</p>
    <p class="darkblue"><strong>Biểu đồ quang học.</strong></p>
    <p>Sự phân bổ năng lượng quang phổ của ánh sáng mặt trời là khoảng 5% trong vùng tử ngoại UV (khoảng bước sóng 300-380nm), 45% trong vùng ánh sáng thấy được (khoảng bước sóng 380-780nm), và 50% ở vùng cận hồng ngoại (phạm vi bước sóng từ 780-2.500nm). Tổng quan, tấm phim cách nhiệt chặn các ánh sáng thấy được và tia hồng ngoại để đạt được tác dụng cách nhiệt cao (1nm = 1/1.000µm).</p>
    <p class="text-center"><img src="assets/images/partial2-5.jpg" class="img-responsive"></p>
</div>