<div class="container why-wincos-side main-side">
    <div class="wincos-breadcrumb">
        <ul class="list-inline">
            <li><i class="fa fa-home"></i></li>
            <li><i class="fa fa-angle-right"></i></li>
            <li>Lý do chọn Wincos</li>
        </ul>
    </div>
    <div class="why-wincos-body section">
        <div class="wincos-title">
            <span class="wincos-title-text">LÝ DO CHỌN WINCOS</span>
        </div>
        <div class="content">
            <p>Wincos là nhà sản xuất hàng đầu Nhật Bản trong lĩnh vực sản xuất vật liệu kết dính. Chúng tôi là những người đầu tiên trong ngành công nghiệp đầy áp lực nhạy cảm với việc đổi mới trong việc sử dụng công nghệ bức xạ hồng ngoại  hop him cách nhiệt ô tô, và hiện nay chúng tôi đã áp dụng công nghệ này cho các phim cách nhiệt trên các cửa kính tòa nhà và đã thành công tại nhiều nước trên thế giới.</p>
            <p>Chúng tôi cung cấp đến khách hàng sản phẩm “Wincos” kết hợp mức độ cao nhất về hiệu suất, chất lượng quang học, độ bền cao, giao hàng, khả năng làm việc, đóng gói bao bì, dịch vụ và các dịch vụ hậu mãi.</p>
            <p>&nbsp;</p>
            <div class="text-center"><img src="assets/images/pic-05.jpg" alt="why wincos" style="width:100%;"/></div>
        </div>
    </div>
</div>